(function () {
    'use strict';

    angular.module('app')
        .constant('myConfig', {
            api: 'http://projeto.dev/api',
        });

    angular.module('core')
        .constant('coreConfig', {
            cache: true,
        });
})();
