(function(){
	"use strict";

	angular.module('erp')
		.constant("myConfig", {
            "api": "http://grancontainer.dev/api"
        });

	angular.module('core')
		.constant('coreConfig', {
			cache: true
		});
})();