<div class="navbar navbar-default header-fixed">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="dashboard">MeanBase</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Cadastro <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="usuario">Usuários</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opções<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="config">Configurações</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="logout">Sair</a></li>
          </ul>
        </li>
<!-- <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
<li><a href="#"><img src="" class="img-circle"></a></li> -->
      </ul>
    </div>
</div>