<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <ul class="breadcrumb" style="margin-bottom: 5px;">
          <li><a ui-sref="dashboard">Início</a></li>
          <li><a ui-sref="financeiro">Opções</a></li>
          <li class="active">Configurações</li>
        </ul> <br>
        <form ng-submit="vm.save()">
            <div class="panel panel-default"><!-- Painel Principal -->
                    <div class="panel-heading">
                        Configurações
                    </div>
                    <div class="panel-body"><!-- Painel Body -->

                        <ul class="nav nav-tabs" style="margin-bottom: 15px;" ng-init="tab = 1">
                            <li><a href="javascript:;" ng-click="tab = 1">Informações</a></li>
                            <li><a href="javascript:;" ng-click="tab = 2">Endereços</a></li>
                            <li><a href="javascript:;" ng-click="tab = 3">Contatos</a></li>
                            <li><a href="javascript:;" ng-click="tab = 4">Dados do responsável</a></li>
                        </ul>

                        <div id="myTabContent" class="tab-content"><!-- Corpo Tab -->


                                <div class="tab-pane fade" ng-class="{'active in': tab == 1}"><!-- Inicio Tab dados -->
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="nome">Nome Fantasia</label>
                                            <input type="text"  ng-model="vm.form.nome" id="nome" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="razaoSocial">Razão social</label>
                                            <input type="text"  ng-model="vm.form.razaoSocial" id="razaoSocial" class="form-control">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                            <label for="cpfCnpj">CPF/ CNPJ</label>
                                            <input type="text"  ng-model="vm.form.cpfCnpj" id="cpfCnpj" class="form-control" ui-br-cpfcnpj-mask>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="im">Inscrição municipal</label>
                                            <input type="text" ng-model="vm.form.im" id="im" class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label for="inscricaoEstadual">Inscrição estadual</label>
                                            <select ng-init="ufs=['AC','AL','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO']" ng-model="selectedUF" ng-options="uf for uf in ufs" name="estado"></select>
                                            <input type="text" id="inscricaoEstadual" name="inscricaoEstadual" ng-model="vm.form.ie" ui-br-ie-mask='selectedUF' class="form-control">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label for="upload">Logo</label>
                                            <input id="upload" ngf-select="" ngf-pattern="'image/*'" ng-model="vm.form.upload" type="file" class="form-control">
                                            <div class="row">
                                                <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div class="thumbnail">
                                                        <img ng-src="/uploads/{{vm.form.logo}}" alt="{{vm.form.logo}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div><!-- End Tab dados -->


                                <div class="tab-pane fade" ng-class="{'active in': tab == 2}"><!-- Inicio Tab Endereço -->
                                    <div ng-repeat="endereco in vm.form.enderecos">

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="pais">País</label>
                                            <select id="pais" name="pais" class="form-control" ng-model="endereco.pais">
                                                <option value="afeganistao">Afeganistão</option>
                                                <option value="africasul">África do Sul</option>
                                                <option value="akrotiri">Akrotiri</option>
                                                <option value="albania">Albânia</option>
                                                <option value="alemanha">Alemanha</option>
                                                <option value="andorra">Andorra</option>
                                                <option value="angola">Angola</option>
                                                <option value="anguila">Anguila</option>
                                                <option value="antartica">Antárctida</option>
                                                <option value="antigua">Antígua e Barbuda</option>
                                                <option value="neerlandesas">Antilhas Neerlandesas</option>
                                                <option value="arabia">Arábia Saudita</option>
                                                <option value="Arctic">Arctic Ocean</option>
                                                <option value="argelia">Argélia</option>
                                                <option value="argentina">Argentina</option>
                                                <option value="armenia">Arménia</option>
                                                <option value="aruba">Aruba</option>
                                                <option value="ashmore">Ashmore and Cartier Islands</option>
                                                <option value="atlantic">Atlantic Ocean</option>
                                                <option value="australia">Austrália</option>
                                                <option value="austria">Áustria</option>
                                                <option value="azerbaijao">Azerbaijão</option>
                                                <option value="baamas">Baamas</option>
                                                <option value="bangladeche">Bangladeche</option>
                                                <option value="barbados">Barbados</option>
                                                <option value="barem">Barém</option>
                                                <option value="belgica">Bélgica</option>
                                                <option value="belize">Belize</option>
                                                <option value="benim">Benim</option>
                                                <option value="bermudas">Bermudas</option>
                                                <option value="bielorrussia">Bielorrússia</option>
                                                <option value="birmania">Birmânia</option>
                                                <option value="bolivia">Bolívia</option>
                                                <option value="bosnia">Bósnia e Herzegovina</option>
                                                <option value="botsuana">Botsuana</option>
                                                <option value="brasil">Brasil</option>
                                                <option value="brunei">Brunei</option>
                                                <option value="bulgaria">Bulgária</option>
                                                <option value="burquina">Burquina Faso</option>
                                                <option value="burundi">Burúndi</option>
                                                <option value="butao">Butão</option>
                                                <option value="cabo verde">Cabo Verde</option>
                                                <option value="camaroes">Camarões</option>
                                                <option value="camboja">Camboja</option>
                                                <option value="canada">Canadá</option>
                                                <option value="catar">Catar</option>
                                                <option value="cazaquistao">Cazaquistão</option>
                                                <option value="chade">Chade</option>
                                                <option value="chile">Chile</option>
                                                <option value="china">China</option>
                                                <option value="chipre">Chipre</option>
                                                <option value="clipperton">Clipperton Island</option>
                                                <option value="colombia">Colômbia</option>
                                                <option value="comores">Comores</option>
                                                <option value="congoBrazzaville">Congo-Brazzaville</option>
                                                <option value="congoKinshasa">Congo-Kinshasa</option>
                                                <option value="coral">Coral Sea Islands</option>
                                                <option value="coreiaNorte">Coreia do Norte</option>
                                                <option value="coreiaSul">Coreia do Sul</option>
                                                <option value="costaMarfim">Costa do Marfim</option>
                                                <option value="costaRicha">Costa Rica</option>
                                                <option value="croacia">Croácia</option>
                                                <option value="cuba">Cuba</option>
                                                <option value="dhekelia">Dhekelia</option>
                                                <option value="dinamarca">Dinamarca</option>
                                                <option value="dominica">Domínica</option>
                                                <option value="egito">Egito</option>
                                                <option value="emirados">Emiratos Árabes Unidos</option>
                                                <option value="equador">Equador</option>
                                                <option value="eritreia">Eritreia</option>
                                                <option value="eslovaquia">Eslováquia</option>
                                                <option value="eslovenia">Eslovénia</option>
                                                <option value="espanha">Espanha</option>
                                                <option value="estadosUnidos">Estados Unidos</option>
                                                <option value="estonias">Estónia</option>
                                                <option value="etiopia">Etiópia</option>
                                                <option value="faroe">Faroé</option>
                                                <option value="fiji">Fiji</option>
                                                <option value="filipinas">Filipinas</option>
                                                <option value="finlandia">Finlândia</option>
                                                <option value="franca">França</option>
                                                <option value="gabao">Gabão</option>
                                                <option value="ganbia">Gâmbia</option>
                                                <option value="gana">Gana</option>
                                                <option value="gaza">Gaza Strip</option>
                                                <option value="georgia">Geórgia</option>
                                                <option value="georgiaSul">Geórgia do Sul e Sandwich do Sul</option>
                                                <option value="gibraltar">Gibraltar</option>
                                                <option value="granada">Granada</option>
                                                <option value="grecia">Grécia</option>
                                                <option value="gronelandia">Gronelândia</option>
                                                <option value="guame">Guame</option>
                                                <option value="guatemala">Guatemala</option>
                                                <option value="guersey">Guernsey</option>
                                                <option value="guiana">Guiana</option>
                                                <option value="guine">Guiné</option>
                                                <option value="guineEquatorial">Guiné Equatorial</option>
                                                <option value="guineBissau">Guiné-Bissau</option>
                                                <option value="haiti">Haiti</option>
                                                <option value="honduras">Honduras</option>
                                                <option value="hongkong">Hong Kong</option>
                                                <option value="hungria">Hungria</option>
                                                <option value="iemen">Iémen</option>
                                                <option value="ilhaBouvet">Ilha Bouvet</option>
                                                <option value="ilhaNataç">Ilha do Natal</option>
                                                <option value="ilhaNorfolk">Ilha Norfolk</option>
                                                <option value="ilhascaimao">Ilhas Caimão</option>
                                                <option value="ilhascook">Ilhas Cook</option>
                                                <option value="ilhascocos">Ilhas dos Cocos</option>
                                                <option value="ilhasfalkland">Ilhas Falkland</option>
                                                <option value="ilhasheard">Ilhas Heard e McDonald</option>
                                                <option value="ilhasmarshall">Ilhas Marshall</option>
                                                <option value="ilhassalomao">Ilhas Salomão</option>
                                                <option value="ilhasturcas">Ilhas Turcas e Caicos</option>
                                                <option value="ilhasvirgens">Ilhas Virgens Americanas</option>
                                                <option value="ilhasvirgensBritanicas">Ilhas Virgens Britânicas</option>
                                                <option value="india">Índia</option>
                                                <option value="indian">Indian Ocean</option>
                                                <option value="indonesia">Indonésia</option>
                                                <option value="irao">Irão</option>
                                                <option value="iraque">Iraque</option>
                                                <option value="irlanda">Irlanda</option>
                                                <option value="islandia">Islândia</option>
                                                <option value="israel">Israel</option>
                                                <option value="italia">Itália</option>
                                                <option value="jamaica">Jamaica</option>
                                                <option value="jan">Jan Mayen</option>
                                                <option value="japao">Japão</option>
                                                <option value="jersey">Jersey</option>
                                                <option value="jibuti">Jibuti</option>
                                                <option value="jordania">Jordânia</option>
                                                <option value="kuwait">Kuwait</option>
                                                <option value="laos">Laos</option>
                                                <option value="lesoto">Lesoto</option>
                                                <option value="letonia">Letónia</option>
                                                <option value="libano">Líbano</option>
                                                <option value="liberia">Libéria</option>
                                                <option value="libia">Líbia</option>
                                                <option value="listenstaine">Listenstaine</option>
                                                <option value="lituania">Lituânia</option>
                                                <option value="luxamburgo">Luxemburgo</option>
                                                <option value="macau">Macau</option>
                                                <option value="macedonia">Macedónia</option>
                                                <option value="madagascar">Madagáscar</option>
                                                <option value="malasia">Malásia</option>
                                                <option value="malavi">Malávi</option>
                                                <option value="maldivas">Maldivas</option>
                                                <option value="mali">Mali</option>
                                                <option value="malta">Malta</option>
                                                <option value="man">Man, Isle of</option>
                                                <option value="marianas">Marianas do Norte</option>
                                                <option value="marroco">Marrocos</option>
                                                <option value="mauricia">Maurícia</option>
                                                <option value="mauritania">Mauritânia</option>
                                                <option value="mayotte">Mayotte</option>
                                                <option value="mexico">México</option>
                                                <option value="micronesia">Micronésia</option>
                                                <option value="mocambique">Moçambique</option>
                                                <option value="moldavia">Moldávia</option>
                                                <option value="monaco">Mónaco</option>
                                                <option value="mongolia">Mongólia</option>
                                                <option value="monserrate">Monserrate</option>
                                                <option value="montenegra">Montenegro</option>
                                                <option value="mundo">Mundo</option>
                                                <option value="namibia">Namíbia</option>
                                                <option value="nauru">Nauru</option>
                                                <option value="navassa">Navassa Island</option>
                                                <option value="nepal">Nepal</option>
                                                <option value="nicaragua">Nicarágua</option>
                                                <option value="niger">Níger</option>
                                                <option value="nigeria">Nigéria</option>
                                                <option value="niue">Niue</option>
                                                <option value="noruega">Noruega</option>
                                                <option value="novaCaledonia">Nova Caledónia</option>
                                                <option value="novaZelandia">Nova Zelândia</option>
                                                <option value="oma">Omã</option>
                                                <option value="pacific">Pacific Ocean</option>
                                                <option value="paisesBaixos">Países Baixos</option>
                                                <option value="palau">Palau</option>
                                                <option value="panama">Panamá</option>
                                                <option value="papuaNova">Papua-Nova Guiné</option>
                                                <option value="paquistao">Paquistão</option>
                                                <option value="paracel">Paracel Islands</option>
                                                <option value="paraguai">Paraguai</option>
                                                <option value="peru">Peru</option>
                                                <option value="pitcairn">Pitcairn</option>
                                                <option value="polinesiaFrancesa">Polinésia Francesa</option>
                                                <option value="polonia">Polónia</option>
                                                <option value="portoRico">Porto Rico</option>
                                                <option value="portugal">Portugal</option>
                                                <option value="quenia">Quénia</option>
                                                <option value="quirguizistao">Quirguizistão</option>
                                                <option value="quiribati">Quiribáti</option>
                                                <option value="reinoUnido">Reino Unido</option>
                                                <option value="republicaCentroAfricana">República Centro-Africana</option>
                                                <option value="reoublicaCheca">República Checa</option>
                                                <option value="republicaDominicana">República Dominicana</option>
                                                <option value="romenia">Roménia</option>
                                                <option value="puanda">Ruanda</option>
                                                <option value="russia">Rússia</option>
                                                <option value="salvador">Salvador</option>
                                                <option value="samoa">Samoa</option>
                                                <option value="samoaAmericana">Samoa Americana</option>
                                                <option value="santaHelena">Santa Helena</option>
                                                <option value="snataLucia">Santa Lúcia</option>
                                                <option value="saoCristovao">São Cristóvão e Neves</option>
                                                <option value="saomarinho">São Marinho</option>
                                                <option value="saoPedro">São Pedro e Miquelon</option>
                                                <option value="saoTome">São Tomé e Príncipe</option>
                                                <option value="saoVicente">São Vicente e Granadinas</option>
                                                <option value="sara Ocidental">Sara Ocidental</option>
                                                <option value="sicheles">Seicheles</option>
                                                <option value="senegal">Senegal</option>
                                                <option value="serraLeoa">Serra Leoa</option>
                                                <option value="servia">Sérvia</option>
                                                <option value="singapura">Singapura</option>
                                                <option value="siria">Síria</option>
                                                <option value="somalia">Somália</option>
                                                <option value="southern">Southern Ocean</option>
                                                <option value="spratly">Spratly Islands</option>
                                                <option value="sri">Sri Lanca</option>
                                                <option value="suazilandia">Suazilândia</option>
                                                <option value="suadao">Sudão</option>
                                                <option value="suecia">Suécia</option>
                                                <option value="suica">Suíça</option>
                                                <option value="suriname">Suriname</option>
                                                <option value="svalbard">Svalbard e Jan Mayen</option>
                                                <option value="tailandia">Tailândia</option>
                                                <option value="taiwan">Taiwan</option>
                                                <option value="tajiquistao">Tajiquistão</option>
                                                <option value="tanzania">Tanzânia</option>
                                                <option value="territorioBritanico">Território Britânico do Oceano Índico</option>
                                                <option value="territorioAustrais">Territórios Austrais Franceses</option>
                                                <option value="timorLeste">Timor Leste</option>
                                                <option value="togo">Togo</option>
                                                <option value="tokelau">Tokelau</option>
                                                <option value="tonga">Tonga</option>
                                                <option value="trindade">Trindade e Tobago</option>
                                                <option value="tunisia">Tunísia</option>
                                                <option value="turquemenistão">Turquemenistão</option>
                                                <option value="turquia">Turquia</option>
                                                <option value="tuvalu">Tuvalu</option>
                                                <option value="ucrania">Ucrânia</option>
                                                <option value="ugnanda">Uganda</option>
                                                <option value="uniaoEuropeia">União Europeia</option>
                                                <option value="uruguai">Uruguai</option>
                                                <option value="usbequistão">Usbequistão</option>
                                                <option value="vanuatu">Vanuatu</option>
                                                <option value="vaticano">Vaticano</option>
                                                <option value="venezuela">Venezuela</option>
                                                <option value="vietname">Vietname</option>
                                                <option value="wake">Wake Island</option>
                                                <option value="wallis">Wallis e Futuna</option>
                                                <option value="west">West Bank</option>
                                                <option value="zambia">Zâmbia</option>
                                                <option value="zimbabue">Zimbabué</option>

                                            </select>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="cep">Cep</label>
                                            <input type="text" ng-blur="vm.getCep($index)" ui-br-cep-mask  ng-model="endereco.cep" id="cep" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="logradouro">Logradouro</label>
                                            <input type="text"  ng-model="endereco.logradouro" id="logradouro" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="numero">Número</label>
                                            <input type="text"  ng-model="endereco.numero" id="numero" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="complemento">Complemento</label>
                                            <input type="text"  ng-model="endereco.complemento" id="complemento" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="bairro">Bairro</label>
                                            <input type="text"  ng-model="endereco.bairro" id="bairro"class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="cidade">Cidade</label>
                                            <input type="text"  ng-model="endereco.cidade" id="cidade"class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="codcidade">Código Municipio</label>
                                            <input type="text"  ng-model="endereco.codcidade" id="codcidade"class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="uf">UF</label>
                                            <input type="text"  ng-model="endereco.uf" id="uf"class="form-control">
                                        </div>
                                        <div class="col-md-12"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button ng-click="vm.addEndereco()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span>Novo Endereço</button>
                                    </div>
                                </div><!-- End Tab Dadoas Adicionais -->


                                <div class="tab-pane fade" ng-class="{'active in': tab == 3}"><!-- Inicio Tab  -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="contato in vm.form.contatos">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="nomeContato">Nome</label>
                                            <input type="text" id="nomeContato" ng-model="contato.nome" class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="emailContato">Email</label>
                                            <input type="text" id="emailContato" ng-model="contato.email"  class="form-control">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label for="telefoneContato">Telefone</label>
                                            <input type="text" id="telefoneContato" ng-model="contato.telefone"  class="form-control" ui-br-phone-number>
                                        </div>
                                        <div class="list-group-separator"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button ng-click="vm.addContato()" type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-plus" ></span>Adicionar</button>
                                    </div>
                                </div><!-- End Tab  -->
                                <div class="tab-pane fade" ng-class="{'active in': tab == 4}"><!-- inicio Dados do responsavel -->
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="responsavelNome">Nome</label>
                                        <input type="text" id="responsavelNome" ng-model="vm.form.responsavelNome"   class="form-control">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                        <label for="responsavelEmail">Email</label>
                                        <input type="text" id="responsavelEmail"  ng-model="vm.form.responsavelEmail"   class="form-control">
                                    </div>
                                </div><!-- end dados do responsavel -->
                        </div> <!-- myTabContent -->


                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <a class="btn btn-danger" ui-sref="dashboard">Cancelar</a>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div><!--Panel body-->
            </div><!-- Panel -->
        </form>
</div><!-- End Row -->